---
import { getCollection, getEntryBySlug } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },  // Pass the full post into props
	}));
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<!doctype html>
<html lang="en">
<head>
	<BaseHead title={post.data.title} description={post.data.description} />
</head>
<body>
	<Header />
	<main>
		<article>
			<h1>{post.data.title}</h1>
			<time>{post.data.pubDate.toLocaleDateString()}</time>
			<!-- Render the markdown content as HTML -->
			<Content />
		</article>
	</main>
	<Footer />
</body>
</html>


